<nav class="flex flex-jc-space-between flex-wrap">
    <div class="logo-section">
        <a href="index.html" class="link flex">
            <img src="/logo.png" alt="" >
            <span>Abid's Tent</span>
        </a>
    </div>
    <div class="mobile-logo">
        <a href="index.html" class="link">Abidstent</a>
    </div>
    <div class="top-right-navigation flex">
        <div class="flex top-nav-a">
            <a class="link aboutme-top-nav-btn" style="cursor: pointer;">About Me</a>
            <a href="work.html" class="link">My Projects</a>
            <a href="https://www.upwork.com/freelancers/~01b0d431970d2f05f5" class="link" target="_blank">Find Me on Upwork</a>
        </div>
        
        <div class="ham-nav-container js-ham-btn-open">
            <div class="ham"></div>
            <div class="ham"></div>
            <div class="ham"></div>
        </div>
        
    </div>
</nav>